@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap&subset=cyrillic');

body {
    margin: 0;
    padding-top: 45px;
    font-family: 'Roboto Mono', serif;
    font-size: 18px;
    color: rgb(198, 195, 214);
    background-color: #2e3235;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
  }

blockquote {
    font-size: 20px;
    color: rgb(184, 183, 209);
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

.silk-intro {
    width: 70%;
    margin: auto;
    padding-top: 0rem;
    padding-bottom: 5rem;
    text-align: center;
    position: relative;
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 3px solid #202029;
    border-radius: 25px;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Mono',serif;
    font-weight: 300;
    color: #b4bccc;
    background-color: #00000080;
    text-align: center;
    transition: all 0.2s;
    box-shadow: 0px 6px 10px 1px rgba(0,0,0,.8);
}

.button:hover {
  box-shadow: 0 0 0 2px rgb(198, 195, 214), 0 0 0 4px #3A2F28;}

a:focus, a:hover {
    color: #443e58;
    text-decoration: none;
}
  

.heading-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border-radius: 0px;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Mono',serif;
    font-weight: 300;
    color: #b4bccc;
    background: #00000080;
    text-align: center;
    transition: all 0.2s;
    box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.377);
}

a:focus, a:hover {
    color: #443e58;
    text-decoration: underline;
}

.navbar {
    border-radius: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Roboto Mono';
    text-decoration: none;
    font-size: 16px;
    background: #00000085;
    margin-bottom: 0px;
}

.silk-theme {
    width: 100%;
    min-height: 720px;
    display: inline-block;
    background-image: url('img/book2.jpg');
    background-attachment: fixed;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    padding-top: 25px;
    text-align: center;
    position: relative;
}

.scroller {
    position: absolute;
    width: 100%;
    background-color: rgba(13, 13, 15, 0.726);
    box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.48);
    background-attachment: fixed;
    padding: 20px;
    border-top: none; border-bottom: none; border-radius: 30px/90px;
    text-align: center;
    position: relative;
    margin: 5px;
}

.list-group-item {
    margin: 10px;
    background-position: center; 
    background-size: cover;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #00000085;
    border: 0;
    border-radius: 10px;
}

.list-group {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.list-group-item a img {
    transition: filter 0.5s linear;
    filter: brightness(2) grayscale(1) opacity(0.5);
  }
.list-group-item a:hover img {
    filter: none;
  }

a.list-group:hover {
}

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
    color:#cdc0f7;
}

a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #615757;
    text-decoration: none;
    background-color: #000000;

}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 7px;
}

.btn-primary {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 3px solid #202029;
    border-radius: 25px;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto Mono',serif;
    font-weight: 300;
    color: #b4bccc;
    background: transparent;
    text-align: center;
    transition: all 0.2s;
    box-shadow: 0px 6px 10px 1px rgba(0,0,0,.8);
}

legend {
    color: #8e93d5;
}

alert-success {
    color: #3c763d;
    border-color: #d6e9c6;
}

.panel-default {
    border-color: transparent;
}

.panel {
    background-color: transparent;
}

.form-control {
    background-color: #1c1b1e;
    color: #c6baf6;
}

.background-box {
    background-color: #dfe1e6;
    background-size: cover;
    border-radius: 8px;
    display: block;
    height: 96px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.board-background-select {
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 4px 8px;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 50%;
    z-index: 1;
}

.board-wrapper.is-show-menu .board-menu {
    box-shadow: 0 12px 24px -6px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    transform: translateX(0);
}

.board-menu {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-property: transform,width;
    transition-duration: .1s;
    transition-timing-function: ease-in;
    transform: translateX(339px);
    width: 339px;
    z-index: 5;
}

