{% extends "silk_bookmarks/base.html" %}
{% load bootstrap3 %}

{% block content %}
{% if topic.photo_url %}
<div class="silk-theme" style="background-image: url({{ topic.photo_url }});">
  {% else %}
  <div class="silk-theme">
  {% endif %}
    <div class="container-fluid">
        <div class="col-xs-0 col-md-3">
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="scroller">
                <p><a class="button" href="{% url 'silk_bookmarks:topic' topic.id %}">{{ topic }}</a></p>
  <p>Edit:</p>
  <form action="{% url 'silk_bookmarks:edit_topic' topic.id %}" method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% for photo in photos_url%}
      <input type="image" src="{{ photo }}" onclick="document.getElementById('id_photo_url').value='{{ photo }}'; return false;" style="height: 90px; width: 160px; border-radius: 10px;"/>
        {% empty %}
        <li>No photos have been added yet.</li>
      {% endfor %}
  <button name='submit' class="button" role="button">Save</button>
  </form>

{% endblock content %}