<!DOCTYPE html>
{% extends "silk_bookmarks/base.html" %}
{% load staticfiles %}
{% block navbar %}
{% endblock navbar %}
{% block header %}
{% if appearance.photo_url %}
<div class="jumbotron jumbotron-carousel corporate-jumbo" style="background-image: url({{ appearance.photo_url }}); background-repeat: no-repeat; background-attachment:fixed; background-size: cover">
    {% else %}
    <div class="jumbotron jumbotron-carousel corporate-jumbo" style="background-image: url({% static 'site/img/book2.jpg' %}); background-attachment:fixed; background-size: cover; background-repeat: no-repeat;">
        {% endif %}
    <div class="container-fluid">
      <div class="row" style="height: 600px; overflow: auto;">
        <div class="col-md-6 col-sm-6">
          <h1>Silk Bookmark</h1>
          {% if user.is_authenticated %}
          <p>You are here as {{user.username}}</p>
          <a class="button" href="{% url 'silk_bookmarks:books' %}" role="button">my books</a>
          {% if quote %}
              <blockquote>{{ quote.text|linebreaks }}
                  <footer class="blockquote-footer">{{ book.author }}, <cite title="Source Title">"{{ book }}"</cite></footer>
              </blockquote>
              {% endif %}
          {% else %}
          <p>Don't forget your books</p>
	  <a class="button" href="{% url "account_signup" %}" role="button">Sign up</a> or <a class="button" href="{% url "account_login" %}" role="button">Sign in</a>
    {% endif %}
  </div>
        <div class="col-md-6 col-sm-6">

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="silk-intro">
    <blockquote>"Where, Ben? Where is the world?" "Nowhere," Ben said. "YOU are your world".
        <footer class="blockquote-footer">Thomas Wolfe, <cite title="Source Title">"Look Homeward Angel"</cite></footer>
    </blockquote>
    <li class="divider"></li>
    <span class="border-top">
    <p>This is the space for your world.</p>
  <p>Nothing extra.</p>
  <p>Add your read books here, take notes, highlight quotes. Come back and never forget. </p></span>
  </div>
{% endblock content %}

{% block footer %}
<small><center>For communication and suggestions:
    <p><a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a></p>
  </center> </small>
{% endblock footer %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}