{% extends 'silk_bookmarks/base.html' %}
{% load bootstrap3 %}

{% block header %}
{% endblock header %}

{% block content %}
{% if topic.photo_url %}
<div class="silk-theme" style="background-image: url({{ topic.photo_url }}); ">
  {% else %}
  <div class="silk-theme">
  {% endif %}
    <div class="container-fluid">
            <div class="scroller">
                <a href="#" onclick="toggle('#menu-1');" class="heading-button"><h6>"{{topic}}", {{ topic.author }}</h6></a>
                <a class="board-header-btn mod-show-menu js-show-sidebar" href="#">
                  <span class="icon-sm icon-overflow-menu-horizontal board-header-btn-icon"></span>
                </a>
                <div id="menu-1"> 
                  <h6>status:</h6>
                  {{topic.status}} 
                  {% if topic.assoc %}
                    <h6>associations:</h6>
                    <p>{{topic.assoc}}</p> 
                  {% endif %}
                  {% if topic.adv %}
                    <h6>review:</h6>
                    <p>{{topic.adv}}</p> 
                  {% endif %}
                  <p style="font-size: 12px;"><small><a href="{% url 'silk_bookmarks:edit_topic' topic.id %}">edit</a> | <a href="{% url 'silk_bookmarks:del_topic' topic.id %}">delete</a></small></p></div>
                  <div class="row">
                  <a class="button" href="{% url 'silk_bookmarks:new_entry' topic.id %}" role="button">Add a quote</a>
                  </div>
                <div class="row">
                  {% for entry in entries %}
                      <div class="col-xs-12 col-md-6">
                          <div class="scroller">
                        <blockquote>{{ entry.text|linebreaks }}
                          <footer class="blockquote-footer">{{ topic.author }}, <cite title="Source Title">"{{ topic }}"</cite></footer>
                      </blockquote>
                      <h5>
                          <small>{{ entry.date_added|date:'M d, Y H:i' }}</small>
                          <small><a href="{% url 'silk_bookmarks:edit_entry' entry.id %}">edit</a> | <a href="{% url 'silk_bookmarks:del_entry' entry.id %}">delete</a></td></small>
                        </h5>
                      </div>
                    </div>
                      {% if forloop.counter|divisibleby:"2" %} 
                      {% endif %}
                  {% empty %}
                    <li>No quotes have been added yet.</li>
                  {% endfor %}
                  </div>
             </div>
        </div>
            
        </div>
        </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $(function() {
     $("div[id*='menu-']").hide(); 
    })();
    
    function toggle(objName) {
     var obj = $(objName),
     blocks = $("div[id*='menu-']");
     
     if (obj.css("display") != "none") {
     obj.animate({ height: 'hide' }, 500);
     } else {
     var visibleBlocks = $("div[id*='menu-']:visible");
    
     if (visibleBlocks.length < 1) {
     obj.animate({ height: 'show' }, 500);
     } else {
     $(visibleBlocks).animate({ height: 'hide' }, 500, function() {
     obj.animate({ height: 'show' }, 500);
     }); 
     }
     }
    }
    </script>
{% endblock scripts %}